<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="tamil" class="com.tnsif.dependencyInjection.Student">
	 <property name="sid" value="111"/>
	 <property name="sname" value="anu"/>
	 <property name="city" value="Puducherry"/>
</bean>

<bean id="kalai" class="com.tnsif.dependencyInjection.Student">
	 <property name="sid" value="112"/>
	 <property name="sname" value="priya"/>
	 <property name="city" value="chennai"/>
</bean>

<bean id="sakthi" class="com.tnsif.dependencyInjection.Student1">
	 <constructor-arg name="sid" value="113"/>
	 <constructor-arg name="sname" value="jasmine"/>
	 <constructor-arg name="city" value="Chennai"/>
</bean>

<bean id="hema" class="com.tnsif.dependencyInjection.Student1">
	 <constructor-arg name="sid" value="1114"/>
	 <constructor-arg name="sname" value="roshan"/>
</bean>
</beans>